# Python cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual environment
venv/
.env

# Large Datasets
blasto2k_dataset/
Blastocyst_Dataset.zip
*.csv
*.pdf

# Temp files
temp_*.png
current_sample.png
inference_results.csv

# VS Code / IDE
.vscode/
.idea/
